.container {
    background-color: #ffff00;
    border: 11px solid #008000;
    /* padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px; */

    /* padding: 20px 10px 20px 10px; */
    padding: 30px 0;
    padding: 10px;
    margin-left: 30%;
    width: 600px;
}

div {
    background-color: #d3d3d3;
    width: 500px;
    padding: 15px;
}

.separate {
    margin-top: 50px;
}
