img {
    display: block;
}
.elemento-enlace,
.elemento-span {
    display: block;
}

.elemento-header {
    display: inline;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.container .card {
    width: 300px;
    border: solid 1px #ccc;
    display: inline-block;
}

.container .card h2 {
    color: #eee;
}
