* {
    margin: 0;
}

.navbar {
    background-color: blueviolet;
    height: 30px;
}

.header {
    background-color: rgba(106, 168, 13, 0.993);
    height: 80px;
}

.main {
    background-color: magenta;
    height: 120px;
    width: 50%;
    display: inline-block;
    float: right;
}

.section {
    background-color: maroon;
    height: 120px;
    width: 50%;
    display: inline-block;
}

.footer {
    background-color: midnightblue;
    height: 80px;
}

.main-flexbox {
    background-color: magenta;
    height: 120px;
    width: 50%;
}

.section-flexbox {
    background-color: maroon;
    height: 120px;
    width: 50%;
}

.contenedor {
    display: flex;
}

.navbar-flexbox {
    background-color: midnightblue;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar-flexbox a {
    color: #ffffff;
    margin-left: 10px;
}

.header-flexbox {
    display: flex;
}

.imagen-header {
    width: 100%;
}