@import '../sass/variables';

// Comentarios

/* Comentarios */

// Niveles de acceso/anidación de clases, ids, tags

// CSS

// .navbar {
//     background-color: #22577a;
// }

// .navbar .link {
//     color: #ffffff;
//     text-decoration: none;
// }

// SCSS

.navbar {
    background-color: $color-principal;
    padding: $padding-general;

    .link {
        color: #ffffff;
        text-decoration: none;
        margin-right: $margin-link;
    }

    .link:hover {
        color: $color-secundario;
    }
}


