* {
    margin: 0;
}

.div-1 {
    width: 100px;
    height: 100px;
    background-color: rgba(228, 78, 78, 0.52);
    /* Posición default de todos los element html no aplican left,right, top o bottom */
    /* position: static; */

    /* se mueve de acuerdo a las medidas left,right, top o bottom del documento y puede estar encima de los elementos presentes */
    /* position: absolute; */

    /* Se toman las medidas left,right, top o bottom de acuerdo a la esquina de la ventana*/
    position: fixed;

    /* Se toman en cuenta las medidas left,right, top o bottom a partir de su posición original, y las otras etiquetas respetan el espacio de el elemnto */
    /* position: relative; */
    left: 100px;
    top: 150px;
}
.div-2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.div-3 {
    width: 100px;
    height: 100px;
    background-color: violet;
}
.div-4 {
    width: 100px;
    height: 100px;
    background-color: green;
}