.contenedor {
  background-color: black;
  text-align: center;
}

.titulo {
  color: rgb(255, 255, 255);
}

.img {
  width: 35rem;
  height: auto;
}

/* #cont1 {
  color: antiquewhite;
} */


.tarjeta {
  border: black 1px solid;
  width: 8rem;
  background-color: blueviolet;
}

.tarjetas-contenedor {
  display: flex;
  justify-content: center;
}